.Link{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    list-style: none;
    white-space: nowrap;
    padding: 0 1.5%;
    box-sizing: border-box;
}

.Link a{
    text-decoration: none;
    color: #333333;
}

.Link a:hover,
.Link a:active{
    color: #B11226;
    transition: ease-in 0.1s all;
}

